@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --font-quicksand: "Quicksand", sans-serif;

    --spacing-extra-small: 5px;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
    --spacing-huge: 30px;

    --border: 3px solid #000;

    --fz-small: 10px;
    --fz-medium: 14px;
    --fz-large: 20px;
    --fz-extra-large: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.weather {
    width: 40%;
    height: 50vh;
    border: var(--border);

    &-search {
        width: 100%;
        height: 50px;
        position: relative;

        &__input {
            width: 100%;
            height: 100%;
            padding: var(--spacing-small) var(--spacing-medium);
            outline: 0;
            border: 0;
            border-bottom: var(--border);
            font-size: var(--fz-large);
            font-family: var(--font-quicksand);
            font-weight: bold;
        }

        &__button {
            position: absolute;
            display: flex;
            align-items: center;
            right: var(--spacing-medium);
            top: 0;
            height: 100%;
            font-size: 30px;
            background: none;
            border: 0;
            outline: 0;
            cursor: pointer;

            img {
                object-fit: contain;
            }
        }
    }

    &-main {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
        height: calc(100% - 50px);

        &__info {
            position: relative;
            height: 100%;

            &__now {
                width: 100%;
                height: calc(50vh - 100px - 6px);
                position: relative;

                &__degrees {
                    padding: var(--spacing-large) var(--spacing-medium);
                    font-size: 40px;
                    font-family: var(--font-quicksand);
                }

                &__weather {
                    width: 25%;
                    display: block;
                    margin: 0 auto;
                }

                &__city-name {
                    padding: var(--spacing-medium);
                    font-size: var(--fz-large);
                    font-family: var(--font-quicksand);
                    font-weight: bold;
                }

                &__add-to-favorites {
                    position: absolute;
                    display: block;
                    bottom: var(--spacing-small);
                    right: var(--spacing-small);
                    cursor: pointer;
                }
            }

            &__details {
                display: none;
                width: 100%;
                height: calc(50vh - 100px - 6px);

                &__city-name {
                    padding: var(--spacing-medium);
                    font-size: var(--fz-large);
                    font-family: var(--font-quicksand);
                    font-weight: bold;
                }

                &__degrees {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    font-size: var(--fz-large);
                    font-family: var(--font-quicksand);
                    font-weight: bold;
                }

                &__feels-like {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    font-size: var(--fz-large);
                    font-family: var(--font-quicksand);
                    font-weight: bold;
                }

                &__weather {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    font-size: var(--fz-large);
                    font-family: var(--font-quicksand);
                    font-weight: bold;
                }

                &__sunrise {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    font-size: var(--fz-large);
                    font-family: var(--font-quicksand);
                    font-weight: bold;
                }

                &__sunset {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    font-size: var(--fz-large);
                    font-family: var(--font-quicksand);
                    font-weight: bold;
                }
            }

            &__forecast {
                display: none;
                width: 100%;
                height: calc(50vh - 100px - 6px);
                overflow-y: scroll;

                &__data {
                    width: 95%;
                    padding: var(--spacing-extra-small);
                    padding-top: var(--spacing-huge);
                    margin: var(--spacing-extra-small) auto;
                    border: var(--border);
                    position: relative;

                    &__date {
                        position: absolute;
                        top: var(--spacing-extra-small);
                        left: var(--spacing-extra-small);
                        font-size: var(--fz-medium);
                        font-family: var(--font-quicksand);
                        font-weight: bold;
                    }

                    &__time {
                        position: absolute;
                        top: var(--spacing-extra-small);
                        right: var(--spacing-extra-small);
                        font-size: var(--fz-medium);
                        font-family: var(--font-quicksand);
                        font-weight: bold;
                    }

                    &__degrees {
                        font-size: var(--fz-medium);
                        font-family: var(--font-quicksand);
                        font-weight: bold;
                    }

                    &__feels-like {
                        font-size: var(--fz-medium);
                        font-family: var(--font-quicksand);
                        font-weight: bold;
                    }

                    &__weather {
                        position: absolute;
                        bottom: calc(20px + var(--spacing-extra-small));
                        right: var(--spacing-extra-small);
                        font-size: var(--fz-medium);
                        font-family: var(--font-quicksand);
                        font-weight: bold;
                    }

                    &__icon {
                        position: absolute;
                        bottom: var(--spacing-extra-small);
                        right: var(--spacing-extra-small);
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &__tabs {
                position: absolute;
                bottom: 0;
                height: 50px;
                left: 0;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                border-top: var(--border);
                background: #fff;
            }

            &__tab {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: var(--font-quicksand);
                font-size: var(--fz-medium);
                cursor: pointer;

                &__active {
                    background: #000;
                    color: #fff;
                }
            }
        }

        &__cities {
            border-left: var(--border);

            &__header {
                display: block;
                text-align: center;
                padding: var(--spacing-small);
                padding-top: var(--spacing-large);
                width: 100%;
                font-size: var(--fz-large);
                font-family: var(--font-quicksand);
                border-bottom: var(--border);
            }

            &__list {
                padding: var(--spacing-small) var(--spacing-medium);
                list-style-type: none;
                overflow-y: scroll;
                width: 100%;
                max-height: calc(50vh - 50px - 67.2px - 6px);

                &__city {
                    font-size: var(--fz-large);
                    font-family: var(--font-quicksand);
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}